@import 'reset.css';

:root {
  --black: #131515;
  --grey: #2b2c28;
  --darkgreen: #339989;
  --mint: #7de2d1;
  --white: #fffafb;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* typography */
.header__heading {
  font-family: 'Heebo', sans-serif;
}

/* body */

body {
  background-color: #FFFAFB;
}

/* headings */

.header {
  background-color: #7DE2D1;
}

.header__heading {
  color: #2B2C28;
  padding: 3% 1%;
}

/* main */

.main {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  margin-left: 10%;
  width: 80%;
  background: var(--darkgreen);
  justify-content: center;
}

.main > * {
  margin: 1% 1%;
}

.main__textarea {
  border: none;
}




