@import 'reset.css';

:root {
   --black: #000000;
    --gold: #d77d00;
   --green: #4a5f00;
  --yellow: #fdb537;
   --white: #ffffff;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* typography */

/* headings */

/* container */

/* form styles */

/* inputs */


/* button */

/* end form styles */


